@import '../node_modules/bootstrap/scss/bootstrap.scss';


//page acceuil

body {

    font-family: 'Source Code Pro', monospace;
    background-image: url(./img/bg-cyber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.margin {
    margin-left: 20px;
}
.liste-mission {
    width: 700px;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.884); 
    color: #f1f1f1;
}









//page de connexion 

.formulaire-co{
    width:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    text-align: center;
}
/* Bordered form */
form {
    width:100%;
    padding: 50px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    background: rgba(3, 3, 3, 0.884);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: 	rgb(18, 55, 56);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-bottom: 100px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: 	rgb(104, 173, 173);
    color: white;
    
}